@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	<div class="row text-center">

                        <div class="visible-lg col-lg-4">
                            @Umbraco.RenderMacro("uTubeClassicPlayer", new { AllowFullScreen = "1", AspectRatio = "null", VideoHeight = "290", VideoId = "null", VideoUrl = "[#youtubeUrl1rec]", VideoWidth = "370" })
                            <p>@Umbraco.Field("youtubeUrl1namerec")<p />
                        </div>
                        <div class="visible-lg col-lg-4">
                            @Umbraco.RenderMacro("uTubeClassicPlayer", new { AllowFullScreen = "1", AspectRatio = "null", VideoHeight = "290", VideoId = "null", VideoUrl = "[#youtubeUrl2rec]", VideoWidth = "370" })
                            <p>@Umbraco.Field("youtubeUrl2namerec")<p />
                        </div>
                        <div class="visible-lg col-lg-4">
                            @Umbraco.RenderMacro("uTubeClassicPlayer", new { AllowFullScreen = "1", AspectRatio = "null", VideoHeight = "290", VideoId = "null", VideoUrl = "[#youtubeUrl3rec]", VideoWidth = "370" })
                            <p>@Umbraco.Field("youtubeUrl3namerec")<p />
                        </div>




                        <div class="visible-md visible-xs col-md-4 col-xs-12">
                            @Umbraco.RenderMacro("uTubeClassicPlayer", new { AllowFullScreen = "1", AspectRatio = "null", VideoHeight = "190", VideoId = "null", VideoUrl = "[#youtubeUrl1rec]", VideoWidth = "270" })
                            <p>@Umbraco.Field("youtubeUrl1namerec")<p />
                        </div>
                        <div class="visible-md visible-xs col-md-4 col-xs-12">
                            @Umbraco.RenderMacro("uTubeClassicPlayer", new { AllowFullScreen = "1", AspectRatio = "null", VideoHeight = "190", VideoId = "null", VideoUrl = "[#youtubeUrl2rec]", VideoWidth = "270" })
                            <p>@Umbraco.Field("youtubeUrl2namerec")<p />
                        </div>
                        <div class="visible-md visible-xs col-md-4 col-xs-12">
                            @Umbraco.RenderMacro("uTubeClassicPlayer", new { AllowFullScreen = "1", AspectRatio = "null", VideoHeight = "190", VideoId = "null", VideoUrl = "[#youtubeUrl3rec]", VideoWidth = "270" })
                            <p>@Umbraco.Field("youtubeUrl3namerec")<p />
                        </div>





                        <div class="visible-sm col-sm-12 ">
                            @Umbraco.RenderMacro("uTubeClassicPlayer", new { AllowFullScreen = "1", AspectRatio = "null", VideoHeight = "340", VideoId = "null", VideoUrl = "[#youtubeUrl1rec]", VideoWidth = "420" })
                            <p>@Umbraco.Field("youtubeUrl1namerec")<p />
                        </div>
                        <div class="visible-sm col-sm-12">
                            @Umbraco.RenderMacro("uTubeClassicPlayer", new { AllowFullScreen = "1", AspectRatio = "null", VideoHeight = "340", VideoId = "null", VideoUrl = "[#youtubeUrl2rec]", VideoWidth = "420" })
                            <p>@Umbraco.Field("youtubeUrl2namerec")<p />
                        </div>
                        <div class="visible-sm col-sm-12">
                            @Umbraco.RenderMacro("uTubeClassicPlayer", new { AllowFullScreen = "1", AspectRatio = "null", VideoHeight = "340", VideoId = "null", VideoUrl = "[#youtubeUrl3rec]", VideoWidth = "420" })
                            <p>@Umbraco.Field("youtubeUrl3namerec")<p />
                        </div>

                    </div>