@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "PageBase.cshtml";
}


    <div class="main-container">
        <div class="row">
            <div class="box">
                <div class="text-center">
					 <hr>
                    <h2 class="intro-text text-center">
                        <strong>Najlepsze darmowe gry</strong>
                    </h2>
                    <hr>
                    @{
						
                                    if (Model.Content.HasValue("reflinksHeaderImage"))
                                     {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("reflinksHeaderImage"));
                                        <img class="img-responsive img-border img-full" src="@mediaItem.GetPropertyValue("umbracoFile")" alt="@mediaItem.GetPropertyValue("Name")" />
                              		 }
                     			}
					 <hr>
						@Umbraco.Field("reflinksHeaderContent")
							
                </div>
            </div>
        </div>


        <div class="row" id="reflinkbase">
            <div class="box">
                <div class="">
                     <hr>
                    <h2 class="intro-text text-center">
                        <strong>Linki do darmowych gier</strong>
                    </h2>
                    <hr>
							
                  <div class="row" >
					  
                      <div class="col-xs-4">  
					
							  @{
						
                                    if (Model.Content.HasValue("reflinkImage1"))
                                     {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("reflinkImage1"));
                                        <img class="img-responsive img-border img-full" src="@mediaItem.GetPropertyValue("umbracoFile")" alt="@mediaItem.GetPropertyValue("Name")" />
                              		 }
                     			}
					
					  	<p>@Umbraco.Field("reflinkDescribe1")<p />
						
					  </div>
								
                         <div class="col-xs-4">  
						
							  @{
						
                                    if (Model.Content.HasValue("reflinkImage2"))
                                     {
										 var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("reflinkImage2"));
                                        <img class="img-responsive img-border img-full" src="@mediaItem.GetPropertyValue("umbracoFile")" alt="@mediaItem.GetPropertyValue("Name")" />
                              		 }
                     			}
							
					  	<p>@Umbraco.Field("reflinkDescribe2")<p />
						
					  </div>
								
                        <div class="col-xs-4">  
						
							  @{
						
                                    if (Model.Content.HasValue("reflinkImage3"))
                                     {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("reflinkImage3"));
                                        <img class="img-responsive img-border img-full" src="@mediaItem.GetPropertyValue("umbracoFile")" alt="@mediaItem.GetPropertyValue("Name")" />
                              		 }
                     			}
								
					  	<p>@Umbraco.Field("reflinkDescribe3")<p />
						
					  </div>
					 </div>
						<div class="row">
							 <div class="col-xs-4"> 
						<div class="btn btn-default btn-lg" id="hots" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>   Zobacz opis gry  </div>
            			 </div>
							<div class="col-xs-4"> 
							<div class="btn btn-default btn-lg" id="smite" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>   Zobacz opis gry   </div>
            			 </div>
								<div class="col-xs-4"> 
								<div class="btn btn-default btn-lg" id="wot" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>   Zobacz opis gry   </div>
            		</div></div>
							
						<br>
							
								
				
					<div class="row">

                         <div class="col-xs-4">  
						  
					    
							  @{
						
                                    if (Model.Content.HasValue("reflinkImage4"))
                                     {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("reflinkImage4"));
                                        <img class="img-responsive img-border img-full" src="@mediaItem.GetPropertyValue("umbracoFile")" alt="@mediaItem.GetPropertyValue("Name")" />
                              		 }
                     			}
								
					  	<p>@Umbraco.Field("reflinkDescribe4")<p />
						
					  </div>
								
                         <div class="col-xs-4">  
						
                           
							  @{
						
                                    if (Model.Content.HasValue("reflinkImage5"))
                                     {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("reflinkImage5"));
                                        <img class="img-responsive img-border img-full" src="@mediaItem.GetPropertyValue("umbracoFile")" alt="@mediaItem.GetPropertyValue("Name")" />
                              		 }
                     			}
							
								
					  	<p>@Umbraco.Field("reflinkDescribe5")<p />
						
					  </div>
								
                   
					    <div class="col-xs-4">  
						
							  @{
						
                                    if (Model.Content.HasValue("reflinkImage6"))
                                     {
                                        var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("reflinkImage6"));
                                        <img class="img-responsive img-border img-full" src="@mediaItem.GetPropertyValue("umbracoFile")" alt="@mediaItem.GetPropertyValue("Name")" />
                              		 }
                     			}
							
					  	<p>@Umbraco.Field("reflinkDescribe6")<p />
						
					  </div>
							
							<div class="row">
							 <div class="col-xs-4"> 
						<div class="btn btn-default btn-lg" id="wartunder" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>   Zobacz opis gry  </div>
            			
							</div>
							<div class="col-xs-4"> 
							<div class="btn btn-default btn-lg" id="drakensang" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>   Zobacz opis gry  </div>
            			 </div>
								<div class="col-xs-4"> 
								<div class="btn btn-default btn-lg" id="shakefidget" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>   Zobacz opis gry  </div>
            		</div></div>
							
					
					</div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="box">
                <div class="">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Opis gry</strong>
                    </h2>
                    <hr>
						<div id="gamedescritions">
                   Wybierz opis gry z menu poniżej by zobaczyć więcej szczegółów
						</div>
						
						<div class="row text-right"> 
						<div class="btn btn-default btn-sm" id="goback"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>   Powrót</div>
						</div>
						
                </div>
            </div>
        </div>
						
</div>
        <!-- /.container -->
@section ScriptsRefilnks{						
<script>
            $("#hots").click(function () {
                $.get("umbraco/surface/partialsurface/index", function (data) {
                    $("#gamedescritions").html(data);
                });
				
				$(function() { //When the document loads
  $("#hots").bind("click", function() {
    $(window).scrollTop($("#gamedescritions").offset().top); //scroll to div with container as ID.
    return false; //Prevent Default and event bubbling.
  });
});
	
				
				
$("#smite").click(function () {
                $.get("umbraco/surface/partialsurface/smite", function (data) {
                    $("#gamedescritions").html(data);
                });
				
				$(function() { //When the document loads
  $("#smite").bind("click", function() {
    $(window).scrollTop($("#gamedescritions").offset().top); //scroll to div with container as ID.
    return false; //Prevent Default and event bubbling.
  });
});
				
  });
		

$("#wot").click(function () {
                $.get("umbraco/surface/partialsurface/wot", function (data) {
                    $("#gamedescritions").html(data);
                });
				
				$(function() { //When the document loads
  $("#wot").bind("click", function() {
    $(window).scrollTop($("#gamedescritions").offset().top); //scroll to div with container as ID.
    return false; //Prevent Default and event bubbling.
  });
});
	 
	});		 
	 
	  $("#wartunder").click(function () {
                $.get("umbraco/surface/partialsurface/warTunder", function (data) {
                    $("#gamedescritions").html(data);
                });
				
				$(function() { //When the document loads
  $("#wartunder").bind("click", function() {
    $(window).scrollTop($("#gamedescritions").offset().top); //scroll to div with container as ID.
    return false; //Prevent Default and event bubbling.
  });
});
				
	});					
	
		   $("#drakensang").click(function () {
                $.get("umbraco/surface/partialsurface/drakensangOnline", function (data) {
                    $("#gamedescritions").html(data);
                });
				
				$(function() { //When the document loads
  $("#drakensang").bind("click", function() {
    $(window).scrollTop($("#gamedescritions").offset().top); //scroll to div with container as ID.
    return false; //Prevent Default and event bubbling.
  });
});
				
});						
		
			    $("#shakefidget").click(function () {
                $.get("umbraco/surface/partialsurface/shakeFidget", function (data) {
                    $("#gamedescritions").html(data);
                });
				
				$(function() { //When the document loads
  $("#shakefidget").bind("click", function() {
    $(window).scrollTop($("#gamedescritions").offset().top); //scroll to div with container as ID.
    return false; //Prevent Default and event bubbling.
  });
});				
				
});		
				$(function() { //When the document loads
  $("#goback").bind("click", function() {
    $(window).scrollTop($("#reflinkbase").offset().top); //scroll to div with container as ID.
    return false; //Prevent Default and event bubbling.
  });
});
				
                                
                            });

                          

</script>
	
}